<div class="container mx-auto">
  <ng-progress></ng-progress>
  <form>
    <div class="form-group">
      <input type="text" required class="form-control" placeholder="Enter Github Username" [(ngModel)]="username"
        [ngModelOptions]="{standalone: true}" (keyup)="findUser()" id="name">
    </div>
  </form>

  <!-- <router-outlet></router-outlet> -->

  <div>


    <!-- panel body part -->
    <div class="panel-body">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 avatar__card">
          <div class="card">
            <div class="card-body">
              <img src="{{user.avatar_url}}" class="img-fluid" alt="me">
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
          <ul class="list-group">
            <li class="list-group-item"><strong>Name:</strong> {{user.name}}</li>
          </ul><br>
          <ul class="list-group">
            <li class="list-group-item"><strong>Username:</strong> {{user.login}}</li>
          </ul><br>
          <ul class="list-group">
            <li class="list-group-item" *ngIf="user.company"><strong>Company:</strong> {{user.company}}</li>
          </ul><br>
          <ul class="list-group">
            <li class="list-group-item" *ngIf="user.bio"><strong>Bio:</strong> {{user.bio}}</li>
          </ul><br>
          <ul class="list-group">
            <li class="list-group-item" *ngIf="user.email"><strong>Email: </strong>{{user.email}}</li>
          </ul><br>
          <ul class="list-group">
            <li class="list-group-item" *ngIf="user.location"><strong>Current Location:</strong> {{user.location}}</li>
          </ul><br>
          <ul class="list-group">
            <li class="list-group-item" *ngIf="user.hireable">Available for hire</li>
          </ul><br>
          <ul class="list-group">
            <li class="list-group-item"><strong>Member Since: </strong>{{user.created_at | date}}</li>
          </ul>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12">
            <p class="ml-4 badges">
              <span class="badge badge-pill badge-success">{{user.public_repos}} Public Repos</span>
              <span class="badge badge-pill badge-primary">{{user.followers}} Followers</span>
              <span class="badge badge-pill badge-warning">{{user.following}} Following</span>
            </p>
            <p class="github"><a href="{{user.html_url}}" target="_blank" class="btn btn-info btn-sm ml-4">View on Github</a></p>
            <div class="card">
              <div class="card-heading">
                <div class="jumbotron">
                  <h2 class="card-title" style="overflow-y: hidden;"><strong>Repositories</strong></h2>
                </div>
              </div>
            </div>
            <div class="card mb-3 px-2" *ngFor="let repo of repos">
              <div class="card-body">
                <div class="row">
                  <div class="col-6 col-sm-6 col-md-6">
                    <p><strong>{{repo.name}}</strong>
                      <p>
                  </div>
                  <div class="col-md-6">
                    <a href="{{repo.html_url}}" target="_blank" class="btn btn-sm btn-outline-danger">View on
                      Github</a>
                  </div>
                </div>
                <p>{{repo.description}}</p>
              </div>
            </div>  
      

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
